* {
  margin: 0;
}
.container {
  width: 100%; 
  max-width: 1200px; 
  margin: auto; 
  /* padding: 0 20px; */
  height: 100vh;
}

.text {
  line-height: 1.5;
  font-size: 18px;
  margin: 20px 0px;
  text-align: center;
  padding: 0px 5px;
}
.heading {
  font-size: 35px;
  margin: 20px 0px;
  text-align: center;
  padding: 0px 5px;
  color: rgb(10, 96, 122);
}

